*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'El Messiri', sans-serif;
}

.container{
    max-width:100%;
    height:480vh;
    background-color: aliceblue;
    
}

.menu-container{
    width:90%;
    height:10vh;
    border: solid aliceblue;
    margin: auto;

}

.logo{
    width:200px;
    height:8vh;
    
    margin-top: 1vh;
}
.logo p{
    font-size: 40px;
    text-align: center;
    color:#003150;
    font-weight: bold;
}

.nav{
 width:360px;
 height:30px;

 margin-top: -25px;
 margin-left:73%;
 
}

.nav a{
    text-decoration: none;
}

.nav li{
    display: inline-block;
    padding: 0 20px ;
    text-align: center;
    font-size: 20px;
    color:#003150;
    font-weight: bold;
}

.left-text-display{
    width:40%;
    height:40vh;
    
    margin-top: 25vh;
    margin-left: 5vw;
}

.right-img-display{
    width:50%;
    height:50vh;
    
    margin-top: -24.3vw;
    margin-left: 49vw;
    border-top-left-radius:500px ;
    border-bottom-left-radius:500px ;
    background: url('https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/b0bf01146950693.Y3JvcCwyMTAyLDE2NDQsNTQ2LDc4.png') no-repeat center/cover;
}

.left-text-display h1{
    font-size: 70px;
    color:#003150;
    font-weight: bold;
    text-align: center;
}

.left-text-display p{
    font-size: 20px;
    color:#003150;
    text-align: justify;
}

.all-collection-cards{
    width:100%;
    height:350vh;
    
    margin-top:10vh;
}

.all-collection-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap :30px;
    align-content: space-around;


}

.all-collection-cards > div{
  margin:auto;
}

.all-collection-cards > div > img:hover{

    border-radius: 100px;
    transition:ease-out 2s;
    transform: translate(-40px);
  }
.footer{
    width:100%;
    height:30vh;
    border-top: 2px solid black;
    margin-top: 10vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer > div{
    
    margin: 10px;
    padding: 20px;
    width:300px;
    height:200px;
    
  }



  .footer li{
    list-style-type:none;
    font-weight: bold;
  }

  .footer span{
    position: relative;
    top:70px;
  }